a {
	display: block;
	color: black;
	padding: 8px;
	text-decoration: none;
}

a.active {
  background-color: #555;
  color: white;
}

a:hover:not(.active) {
  background-color: #555;
  color: white;
}